[submodule "core"]
	path = core
	url = git@github.com:venkatramanm/core.git
[submodule "swf"]
	path = swf
	url = git@github.com:venkatramanm/swf.git
[submodule "swf-archetype"]
	path = swf-archetype
	url = git@github.com:venkatramanm/swf-archetype.git
[submodule "swf-maven-plugin"]
	path = swf-maven-plugin
	url = git@github.com:venkatramanm/swf-maven-plugin.git
