.table .stream img {
    display:block ;
    margin-left:auto ;
    margin-right:auto;
}

.tablesorter .stream img {
    width: 56px;
    display:block ;
    margin-left:auto ;
    margin-right:auto;
}

