/* Styling menus */
img {
   border:none
}
div.nav {
  height: 28px;
  background-image: url(/resources/images/menubg.png); 
  outline-color:#f7b74d;
  outline-style:solid;
  outline-width:2px;
}
div.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 28px;
  z-index:100;
}   
div.nav li {
  float: left;
  position: relative;
  white-space: wrap;
  width: 240px;
  text-indent: 8px;
  background-color: #f7b74d;
  outline-color:#f7b74d;
  outline-style:solid;
  outline-width:2px;
}


div.nav li:hover li:hover {
  background-color: #f1a13d;
  outline-color:#ffaa00;
  outline-style:solid;
  outline-width:2px;
  z-index:1;
}

div.nav li:hover  ul{
    visibility:visible;
}
div.nav li  ul {
    position: absolute;
    visibility:hidden
}

div.nav li:hover > ul { 
    left: auto;
}

div.nav li ul ul {
    margin-top: -24px;
    margin-left: 240px;
}

/* Make menu links with out decoration BEGIN*/
div.nav li a:link, a:visited, a:hover, a:active{
  color:black;
  text-decoration:none;
}
/* Make menu links with out decoration END */

.hidden {
  visibility:hidden;
  display:none;
}

.hfill tr th {
  text-align: left;
}
.table .stream img {
    width:560px;
    display:block ;
    margin-left:auto ;
    margin-right:auto;
}
.table .submit {
    display:block ;
    margin-left:auto ;
    margin-right:auto;
    width:160px;
}

.tablesorter .stream img {
  width: 56px;
    display:block ;
    margin-left:auto ;
    margin-right:auto;
}

/* Styling based on Database types*/
.number {
  text-align: right; 
}

label.error { 
  padding-left:2%; 
  padding-right:2%;
  color: red; 
  display:block;
}
label.info { 
  color: green; 
  padding-left:2%; 
  padding-right:2%;
  display:block;
}

.textarea {
  width : 98%;
  height : 100px;
}

table.tablesorter thead tr .indexed { 
  background-color: #FFCCCC;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp { 
  background-color: #DAADAD;
}

div.tabs  .ui-helper-reset {
  font-size: 80%;
  font-weight: normal;
}
td .textbox {
  display: block;
  height: 100%;
  width:95%;
}
td .passwordtext {
  display: block;
  height: 100%;
  width:95%;
}

td label { 
  display: block;
  height: 100%;
  width:auto;
}

td .select { 
  display: block;
  height: 100%;
  width:95% 
}

.table { 
  width:100%;
  padding-left:2%; 
  padding-right:2%;
  padding-top:5px;
}

table.login { 
  margin-top:10%; 
  margin-left:35%;
  width:auto;
}

table.login tbody tr:first-child td  {
  text-align:center;
  font-size:20px;
  height:32px;
  color:#ffaacc;
}

table.hotlinks {
  float:right;
}

a.hotlink img{
  cursor:pointer;
  padding:4px; 
}

.tabs .ui-tabs-panel {
  width:100%;
  padding:0;
}

/* Search Screen */
table.search {
  width:100%;
  padding:0;
}

table.search .submit {
    display:block ;
    margin-left:auto ;
    margin-right:auto;
    width:160px;
    float:left;
}

input.filetextbox { 
  width:100%;
}


